.main-nav .navbar-nav .nav-item .nav-link {
    &::first-letter {
        // capitalize on whole string makes "about us" to "About Us". We want "About us"
        text-transform: uppercase;
    }
    &.language-switch {
        font-size: 1.4em;
        transform: translateY(-.2em);
    }
}

img[src="/images/google-translate.png"] {
    height: 1.2em;
    width: 1.2em !important;
}

#eventDates {
    text-align: left;
    & > ol {
        list-style: none;
        & > li {
            & > span {
                font-size: 1.6em;
            }
            & > ol {
                list-style: "\1F5D3" outside;
                & > li {
                    padding-left: .5em;
                    &.cancelled {
                        color: red;
                    }
                    & > span.cancelled {
                        font-weight: bold;
                    }
                    & > span.comment {
                        font-style: italic;
                    }
                    & > span.date.changed, & > span.time.changed {
                        color: red;
                        &::after {
                            font-size: .8em;
                            content: "(changed)"
                        }
                    }

                }
            }
        }
    }
}

