iframe {
  border: none;
}

.main-nav .navbar-nav .nav-item .nav-link {
  &::first-letter {
    // capitalize on whole string makes "about us" to "About Us". We want "About us"
    text-transform: uppercase;
  }
  &.language-switch {
    font-size: 1.4em;
    transform: translateY(-0.2em);
  }
}

img[src="/images/google-translate.png"] {
  height: 1.2em;
  width: 1.2em !important;
}

.eventDates {
  border: 1px solid Hsl(0 0% 20%);
  margin: 1em 0 1.5em;
  display: grid;
  grid-template-columns: repeat(3, Min(10em, 30%)) auto;
  grid-template-rows: 2em 2em auto;
  .ics-link {
    grid-area: 1 / 1 / 1 / 5;
    padding-left: 10px;
    height: 2em;
    overflow: hidden;
    &::before {
      content: "\1F913 ";
    }
  }
  .grid-tab {
    user-select: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid Hsl(0 0% 20%);
    border-left: none;
    background-color: Hsl(0 0% 80%);
    color: Hsl(0 0% 20%);
  }
  .grid-tab-filler {
    border-bottom: 1px solid Hsl(0 0% 20%);
  }
  &.upcoming > .grid-tab.upcoming,
  &.past > .grid-tab.past,
  &.calendar > .grid-tab.calendar,
  {
    background-color: unset;
    padding-top: .2em;
    font-weight: bold;
    border-bottom: none;
  }

  &.long .grid-body {
    max-height: 80vh;
  }

  &.long.calendar .grid-body, &.calendar .grid-body {
    max-height: unset;
  }

  .grid-body {
    grid-area: 3 / 1 / 3 / 5;
    max-height: 10em;
    min-height: 3em;
    overflow-y: scroll;
    display: none;
    padding: .7em;
  }
  &.upcoming > .grid-body.upcoming,
  &.past > .grid-body.past,
  &.calendar > .grid-body.calendar,
  {
    display: block;
  }
  .grid-body.calendar .month-calendar {
    border: .5px solid Hsl(0 0% 20%);
    display: grid;
    grid-template-columns: 1.5em repeat(7, minmax(0, 1fr));
    grid-template-rows: 1.5em 1.5em repeat(var(--nr-week-rows), 5em);
    > * {
      border: .5px solid Hsl(0 0% 20%);
      &.weekday-name {
        text-align: center;
      }
      &.header {
        grid-area: 1 / 1 / 1 / 9;
        text-align: center;
        .month-name {
          display: inline-block;
          width: 12em;
        }
        .previous-month, .next-month {
          user-select: none;
          padding: 0 .8em;
          cursor: pointer;
        }
      }
      &.weeknumber {
        font-size: .6em;
        text-align: center;
        color: Hsl(0, 0%, 60%);
      }
      &.calendar-day {
        &.today:not(other-month) {
          background-color: Hsl(40, 60%, 80%);
        }
        &.other-month {
          background-color: Hsl(0, 0%, 80%);
        }
        .daynumber {
          color: black;
          font-size: .8em;
        }
        &.other-month .event {
          background-color: Hsl(0, 10%, 45%);
        }
        .event {
          width: 100%;
          background-color: Hsl(0, 80%, 50%);
          color: white;
          font-size: .7em;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          border: 1.5px solid white;
          border-width: 0 1.5px;
          display: block;
        }
      }
    }
  }
  text-align: left;
}
.h-event {
  a:hover {
    text-decoration: none;
  }
  time {
    font-family: monospace;
    font-size: 0.8em;
    &.dt-start::before {
      content: "\1F5D3";
    }
    &.dt-end::before {
      content: " - ";
    }
  }
  &.cancelled {
    color: hsl(0, 80, 60);
    time {
      text-decoration: line-through;
    }
  }
  span.comment {
    font-style: italic;
  }
  span.date.changed,
  & > span.time.changed {
    color: hsl(30, 100, 50);
    &::after {
      font-size: 0.8em;
      content: "(changed)";
    }
  }
  .p-description {
    padding-top: .7em;
    display: block;
  }

  &.long {
    --box-padding: 1rem;
    --box-width: min(45rem, 100%);
    --image-width: 15rem;
    --image-height: calc(var(--image-width) / 16 * 9);

  &:hover {
    background-color: Hsl(0, 0%, 50%, 0.1);
  }

    box-sizing: border-box;
    width: var(--box-width);
    border: 1px solid #ececec;
    padding: var(--box-padding);
    margin-bottom: 1.5em;
    min-height: calc(var(--image-height) + 2 * var(--box-padding));
    .start-end-time {
      display: block;
    }
    .p-name {
      display: block;
      font-size: 1.2em;
      line-height: 1.2em;

    }
    .p-image {
      float: right;
      width: var(--image-width);
      height: var(--image-height);
      margin-left: 1em;
      margin-bottom: .7em;
    }
    @media only screen and (max-width: 35rem) {
      & {
        --image-width: var(--box-width);
        .p-image {
          margin-left: 0em;
        }
      }
    }
    a {
      color: unset;
    }
  }
}
.discord-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5em;
  & > * {
    &::before {
      padding-right: .2em;
    }
    &.event-organizer::before {
      content: "\01F9D1 \200D \01F393";
    }
    &.event-interested::before {
      content: "\1F465";
    }
    &.event-location::before {
      content: "\1F4CD";
    }
    &.event-discord-link::before {
      content: "\1F517";
    }
  }
}
.eventDates .discord-info {
  justify-content: left;
}

article img {
  max-width: 100%;
}

.toots {
  margin: auto;
  max-width: inherit;
}

.toots .user {
  @media (max-width: 767px) {
    margin-top: 1em;
  }
}

.news {
  padding: 100px 0;

  @media (max-width: 767px) {
    padding: 50px 0px 0px;
  }

  @media (max-width: 1199px) {
    padding: 70px 0px 50px;
  }
}
