{{ partial "check-parameters.html" (dict
  "name" "layouts/partials/getEventsForPages.html"
  "parameters" .
  "requiredParameters" (slice "events" "long")
  "optionalParameters" (slice))
}}
{{ $long := .long }}
{{ range $event := .events }}
<article class="h-event{{if $event.cancelled}} cancelled{{end}}{{if $long}} long{{ end }}">
    {{ if $long }}
      <a class="u-url" rel="bookmark" href="{{$event.page.RelPermalink}}" alt="{{$event.page.Title}}">
      {{ if $event.page.Params.featureImage }}
        <img class="p-image" src="{{ $event.page.Params.featureImage | absURL }}" alt="blog-image">
      {{ end }}
    {{ end }}
    <span class="start-end-time">
      <time class="dt-start" datetime="{{ time.Format "2006-01-02T15:04:03Z" $event.startDateTime.UTC}}">
        <span class="{{if $event.dateChanged}}changed{{end}}">
            {{ time.Format "Monday, 2 January 2006" $event.startDateTime}}
        </span>
        <span class="{{if $event.timeChanged}} changed{{end}}">
            {{ $event.startDateTime.Format "15:04" }}
        </span>
      </time>
      <time class="dt-end" datetime="{{ time.Format "2006-01-02T15:04:03Z" $event.endDateTime.UTC}}">
        <span class="{{if $event.timeChanged}} changed{{end}}">
            {{ $event.endDateTime.Format "15:04" }}
        </span>
      </time>
    </span>
    {{if $event.cancelled}}<span class="cancelled">CANCELLED</span>{{end}}
    {{if $event.comment}}<span class="comment">{{ $event.comment }}</span>{{end}}
    {{ if $long }}
        <h1 class="p-name">{{$event.page.Title}}</h1>
      <span class="p-description">{{$event.page.Summary}}</span>
      </a>
    {{ end }}
  </article>
{{end}}

