{{define "main"}}
<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{.Title}}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li class="breadcrumb-item active">{{.Title}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="story">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="story-content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ $allPages := where (where .Site.AllPages "Type" "==" $.Page.Type) "Kind" "page" }}
{{ $pagesToShow := partial "getPreferredLanguagePages.html" (dict
  "pages" $allPages
  "preferredLanguage" .Lang
) }}

<section class="blog">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-10">
        <div class="story-content">
          {{partial "eventViews.html" (dict
            "pages" $pagesToShow
            "long" true
            "icsUrl" ((.OutputFormats.Get "calendar").RelPermalink | absURL)
          )}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
