{{define "main"}}
<article class="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="post-title">
          <h2>{{.Title}}</h2>
        </div>
        <div class="post-meta">
          <p>{{ if .PublishDate }}<span>{{ .PublishDate.Format "January 2, 2006" }}</span> in {{ end }}
            {{ range (.GetTerms "tags") }}
              <a class="tags" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        </div>
        <div class="post-image">
          {{ if .Params.featureImage }}
          <img src="{{ .Params.featureImage | absURL }}" alt="feature-image">
          {{ else }}
          <img src="/images/wydarzenia/null.png" alt="blog-images">
          {{ end }}
        </div>
        {{if .Params.eventDates }}
            {{$events := partial "getEventsFromEventDates" (dict "timezone" "Europe/Warsaw" "eventDates" .Params.eventDates) }}
            <div id="eventDates">
            <ol>
            {{ $s := newScratch }}
            {{ $s.Set "year" "" }}
            {{ range $key, $value := $events }}
                {{ if ne ($s.Get "year") ($value.startDateTime.Format "2006") }}
                {{ if ne ($s.Get "year") "" }}</ol></li>{{end}}
                    {{ $s.Set "year" ($value.startDateTime.Format "2006") }}
                    <li>{{ $s.Get "year" }}<ol>
                {{ end }}
                <li class="{{if $value.cancelled}}cancelled{{end}}">
                    <span class="date{{if $value.dateChanged}} changed{{end}}">
                        {{ time.Format "Monday, 2 January 2006" $value.startDateTime}}
                    </span>
                    <span class="time{{if $value.timeChanged}} changed{{end}}">
                        {{ $value.startDateTime.Format "15:04" }}-{{ $value.endDateTime.Format "15:04" }}
                    </span>
                    {{if or $value.comment $value.cancelled}}: {{end}}
                    {{if $value.cancelled}}<span class="cancelled">CANCELLED</span>{{end}}
                    {{if $value.comment}}<span class="comment">{{ $value.comment }}</span>{{end}}
                </li>
            {{end}}
            {{ if ne ($s.Get "year") "" }}</ol></li>{{end}}
            </ol>
            <a href="{{(.OutputFormats.Get "Calendar").RelPermalink | absURL}}">Download this calendar (tip: Go to your calendar software, click "Subcribe to calendar" and add this URL and the calendar will stay in sync!).</a>
            </div>
        {{ end }}
        <div class="post-body">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</article>
{{end}}
