{{define "main"}}
<article class="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="post-title">
          <h2>{{.Title}}</h2>
        </div>
        <div class="post-meta">
          <p>{{ if .PublishDate }}<span>{{ .PublishDate.Format "January 2, 2006" }}</span> in {{ end }}
            {{ range (.GetTerms "tags") }}
              <a class="tags" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        </div>
        <div class="post-image">
          {{ if .Params.featureImage }}
          <img src="{{ .Params.featureImage | absURL }}" alt="feature-image">
          {{ else }}
          <img src="/images/wydarzenia/null.png" alt="blog-images">
          {{ end }}
        </div>
        {{if .Params.eventDates }}
            {{$events := partial "getEventsFromEventDates" (dict "timezone" "Europe/Warsaw" "eventDates" .Params.eventDates "title" .Title "url" .RelPermalink) }}
            <div class="eventDates singlePage">
              {{ partial "eventList.html" (dict "events" $events "make_link" false) }}
              <a href="{{(.OutputFormats.Get "Calendar").RelPermalink | absURL}}">Download this calendar (tip: Go to your calendar software, click "Subcribe to calendar" and add this URL and the calendar will stay in sync!).</a>
            </div>
        {{ end }}
        <div class="post-body">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</article>
{{end}}
